@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>The absolute BEST jokes website that you will find on the internet.</p>
</div>
